.bttn {
    display: flex;
    width: 400px;
    height: 35px;
    background-color: #f12e18;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.bttn:hover {
    transform: scale(1.1);
    transition: .1s;
    background: rgb(175, 22, 22);
}